<!-- BLOG SECTION START-->
<section id="blog" class="atf-news-area one atf-section-padding bg-f1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="atf-section-title text-start wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0.3s">
                    <h4 class="sub-title">Our Blog</h4>
                    <h2>Our Recent News</h2>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-6 col-12">
                <div class="atf-section-title border-left ps-5 wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.3s">
                    <p>Vestibulum, nunc eu pretium blandit, augue nisi gravida diam, eget pulvinar erat augue a nisi. Pellentesque sit amet porta nisl. Ut ut rhoncus turpis, ut gravida nisl. Fusce ut risus orci.</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->


        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0.3s">
                <div class="atf-single-blog">
                    <div class="atf-post-img">
                        <img class="img-fluid" src="assets/img/blog/1.jpg" alt="Blog">
                    </div>
                    
                    <div class="atf-blog-content bg-white">
                        <div class="atf-blog-meta-area">
                            <ul class="atf-blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>
                                    <span>Admin</span>
                                </li>
                                <li>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>6 june,2024</span>
                                </li>
                                <li>
                                <i class="far fa-comments"></i><span> 7.5k </span></li>
                            </ul>
                        </div>
                        <h4 class="title">
                            <a href="blog-grid.html" class="atf-blog-title">Your advocate is a very trusted in law firm and other cases to help them any term</a>
                        </h4>
                        <p class="description"> Cras imperdiet condimentum ipsum sit amet hendrerit. Suspendisse potenti. Duis eget on the posuere dolor. In porttitor elit</p>
                        <div class="atf-blog-btn">
                            <a href="blog-grid.html" class="blog-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.5s">
                <div class="atf-single-blog bg-white">
                    <div class="atf-post-img">
                        <img class="img-fluid" src="assets/img/blog/2.jpg" alt="Blog">
                    </div>
                    
                    <div class="atf-blog-content">
                        <div class="atf-blog-meta-area">
                            <ul class="atf-blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>
                                    <span>Admin</span>
                                </li>
                                <li>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>6 june,2024</span>
                                </li>
                                <li>
                                <i class="far fa-comments"></i><span> 7.5k </span></li>
                            </ul>
                        </div>
                        <h4 class="title">
                            <a href="blog-grid.html" class="atf-blog-title">Face to criminal law fedaral drug crimes is sovle theis casse in trasted member </a>
                        </h4>
                        <p class="description">Suspendisse non est quis dolor egestas dignis sim eu viverra nunc. Aliquam at ligula ultrices nisl consequat pharetra mauris</p>
                        <div class="atf-blog-btn">
                            <a href="blog-grid.html" class="blog-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-4 col-md-6 col-12 wow fadeInRight" data-wow-duration=".5s" data-wow-delay=".7s">
                <div class="atf-single-blog bg-white">
                    <div class="atf-post-img">
                        <img class="img-fluid" src="assets/img/blog/3.jpg" alt="Blog">
                    </div>
                    
                    <div class="atf-blog-content">
                        <div class="atf-blog-meta-area">
                            <ul class="atf-blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>
                                    <span>Admin</span>
                                </li>
                                <li>
                                    <i class="fa-regular fa-calendar-days"></i>
                                    <span>6 june,2024</span>
                                </li>
                                <li>
                                <i class="far fa-comments"></i><span> 7.5k </span></li>
                            </ul>
                        </div>
                        <h4 class="title">
                            <a href="blog-grid.html" class="atf-blog-title">Their case of expert 25 years law firm and helping to win dependers critical role</a>
                        </h4>
                        <p class="description"> Quisque ut mi a ante volutpat felis lao ret in teger tristique tortor velit, a egestas urna pulvinar sit amet donec sem felis lao.</p>
                        <div class="atf-blog-btn">
                            <a href="blog-grid.html" class="blog-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- BLOG SECTION END-->