{% load static %}
{% load i18n %}
<!-- START HIRE  -->
<section  class="atf_hire_area atf-align-items-details atf-fixed-bg" style="background-image: url({% static 'img/law/4.jpg' %});">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-lg-6 text-start  wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.3s">
                <div class="atf-hire-content">
                    <h2 class="rgb-white">{% trans 'We are help to fight of law firm vehicula on the criminal laws, family matters, frud protect, imigration law etc.' %}</h2>
                    <p class="rgb-white description pe-lg-3">{% trans 'Donec vehicula nibh tortor, vel luctus turpis ornare ac. Pellentesque id massa turpis. Donec id tortor id lacus ullamcorper vehicula. Vestibulum venenatis neque et velit lobortis ornare. Fusce ac consequat orci nibh.' %}</p>
                    <a href="#" class="atf-themes-btn bg-white">{% trans 'Hire The Attorny' %}</a>	
                </div>
            </div><!-- END COL  -->
        </div><!--END  ROW  -->
    </div><!-- END CONTAINER  -->
</section>
<!-- END HIRE -->