{% load i18n %}
<!-- START PRACTISE SECTION  -->

<!-- https://fontawesome.com/icons/people-arrows?s=solid -->

<section id="service" class="atf-service-area bg-light atf-section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="atf-section-title text-start wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0.3s">
                    <h4 class="sub-title">{% trans 'Our Expertise' %}</h4>
                    <h2>{% trans 'Area Of Expertise in Legal' %}</h2>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-6 col-12">
                <div class="atf-section-title border-left ps-5 wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.3s">
                    <p>{% trans 'Pellentesque vitae dictum lectus, nec consectetur metus. Ut facilisis fermen tum turpis, nec malesuada mauris finibus quis. Curabitur tincidunt nisi bib endum augue maximus, vitae malesuada nunc.' %}</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.3s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-car-burst"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Pattent Laws' %}</h3>
                    <p class="description">{% trans 'Faucibus vulputate accum san vel susci pit lobor tis nisl. Nulla males uada odioa' %}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.5s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-person-harassing"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Medical Neglance' %}</h3>
                    <p class="description">{% trans 'Dapibus pellentesque at eu nibh oraesent biben dum euismod velit ac euismod.' %}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.7s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-scroll"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Busniess Corporate' %}</h3>
                    <p class="description">{% trans 'Primis in faucibus orci luctus etin ultrices posuere cubilia curae ellntesque et tortor. ' %}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.9s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-people-arrows"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Fraud Protection' %}</h3>
                    <p class="description">{% trans 'Praesent bibendum euismod velit ac euismod. Nulla ac nisi sed neque sagittis' %}</p>
                </div>
            </div><!--- END COL --> 
            
            {% comment %} <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.3s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-people-group"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Imigration Laws' %}</h3>
                    <p class="description">{% trans 'Faucibus vulpu tate accum san vel, suscipit lobor tis nisl. Nulla male suada odioa '%}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.5s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-brands fa-critical-role"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Criminal Law' %}</h3>
                    <p class="description">{% trans 'Aliquam erat volutpat tin cidunt nisi biben dum augue maximus vitae males' %}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.7s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-people-group"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Family Matters' %}</h3>
                    <p class="description">{% trans 'Maecenas ornare elemen tum You aculis. Sed com modo leo aliqut lobrtis' %}</p>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12 wow fadeIn" data-wow-duration=".5s" data-wow-delay="0.9s">
                <div class="atf_single_service">
                    <div class="service-icon">
                        <span><i class="fa-solid fa-people-roof"></i></span>
                    </div>
                    <h3 class="title">{% trans 'Real Estate Law' %}</h3>
                    <p class="description">{% trans 'Bibendum praesent euismod velit ac euismod. Nulla ac nisi sed neque sagitts' %}</p>
                </div>
            </div><!--- END COL --> {% endcomment %}
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END PRACTISE SECTION  -->