{% load static %}
{% load i18n %}
<!-- START TESTIMONIAL DESIGN -->
<section id="testimonial" class="atf-testimonial-area atf-section-padding pb-0">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6 col-12 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="atf-client-wrapper-in">
                    <h4 class="sub-title">{% trans 'Our client' %}</h4>
                    <h2>{% trans 'What people say' %}</h2>
                    <p>{% trans 'Nulla sollicitudin enim id turpis malesuada rutrum. Nunc dictum at velit vive rra dictum. In hac habitasse platea dictumst. Vivamus suscipit, augue.' %} </p>
                </div>

                <div class="atf_testimonial_slider">
                    <div class="atf_client_slide">
                        <div class="atf_single_testimonial">
                            <div class="testimonial_content">
                                <p>{% trans '"Testimonial 1"' %}</p>
                            </div>
                            <div class="testimonial-client">
                                <div class="client-img">
                                    <img src="{% static 'img/client/1.jpg' %}" alt="image">
                                </div>
                                <div class="client-details">
                                    <h3>{% trans 'Mutakabbir' %}</h3>
                                    <p>{% trans 'Family Laws' %}</p>
                                    <ul class="atf-testimonial-star-icon">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /testimonial-slide -->
                    
                    <div class="testimonial-slide">
                        <div class="atf_single_testimonial">
                            <div class="testimonial_content">
                                <p>{% trans '"Testimonial 2"' %}</p>
                            </div>
                            <div class="testimonial-client">
                                <div class="client-img">
                                    <img src="{% static 'img/client/2.jpg' %}" alt="image">
                                </div>
                                <div class="client-details">
                                    <h3>{% trans 'Abdul Majid' %}</h3>
                                    <p>{% trans 'Frud Protection' %}</p>
                                    <ul class="atf-testimonial-star-icon">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /testimonial-slide -->
                    
                    <div class="testimonial-slide">
                        <div class="atf_single_testimonial">
                            <div class="testimonial_content">
                                <p>{% trans '"Testimonial 3"' %}</p>
                            </div>
                            <div class="testimonial-client">
                                <div class="client-img">
                                    <img src="{% static 'img/client/3.jpg' %}" alt="image">
                                </div>
                                <div class="client-details">
                                    <h3>{% trans 'Jami Akter' %}</h3>
                                    <p>{% trans 'Criminal Laws' %}</p>
                                    <ul class="atf-testimonial-star-icon">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- /testimonial-slide -->
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-6 col-12 mt-lg-40 text-center wow fadeInRightt" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="atf_testimonial_thumb">
                    <img src="{% static 'img/client/choose-1.png' %}" alt="image">
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END TESTIMONIAL DESIGN -->