{% load static %}
{% load i18n %}
<!-- START ABOUT DESIGN -->
<section id="choose" class="atf-section-padding bg-black atf-image-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="atf-choose-img"></div>
            </div><!--- END COL -->
            
            <div class="col-lg-6 col-12 wow fadeIn ps-lg-5  wow fadeInRight" data-wow-duration=".5s" data-wow-delay="0.3s">
                <div class="atf-choose-wrapper-in">
                    <h4 class="sub-title">{% trans 'Why Choose us' %}</h4>
                    <h2 class="rgb-white">{% trans 'Get start all together legal firm today helping the injured people in time' %}</h2>
                    <p class="pe-lg-3 rgb-white">{% trans 'Ut id ex vitae quam ultricies efficitur. Sed convallis pulvinar mauris, quis on the ultrices lacus. Sed iaculis lacinia diam. Fusce non metus nibh. Cras sem per porttitor orci, eu scelerisque ex egestas ut.' %}
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="atf_single_counter wow fadeIn">
                                <div class="atf-counter-icon">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="atf-counter-content">
                                    <span class="atf-counter-value odometer" data-count="1500">00</span>
                                    <h6>{% trans 'Case Success' %}</h6>
                                </div>
                            </div>
                        </div> <!--- END COL -->
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="atf_single_counter wow fadeIn">
                                <div class="atf-counter-icon">
                                    <i class="fa fa-smile"></i>
                                </div>
                                <div class="atf-counter-content">
                                    <span class="atf-counter-value odometer" data-count="2500">00</span>
                                    <h6>{% trans 'Happy Client' %}</h6>
                                </div>
                            </div>
                        </div><!--- END COL -->
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="atf_single_counter wow fadeIn">
                                <div class="atf-counter-icon">
                                    <i class="fab fa-odnoklassniki-square"></i>
                                </div>
                                <div class="atf-counter-content">
                                    <span class="atf-counter-value odometer" data-count="4100">00</span>
                                    <h6>{% trans 'Recovered' %}</h6>
                                </div>
                            </div>
                        </div><!--- END COL -->
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="atf_single_counter wow fadeIn">
                                <div class="atf-counter-icon">
                                    <i class="fas fa-thumbs-up "></i>
                                </div>
                                <div class="atf-counter-content">
                                    <span class="atf-counter-value odometer" data-count="5600">00</span>
                                    <h6>{% trans 'Case Done' %}</h6>
                                </div>
                            </div>
                        </div><!--- END COL -->
                    </div><!--- END ROW -->
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT DESIGN-->